version: '3.8'
services:
  app:
    user: "${WWWUSER:-1000}:${WWWGROUP:-1000}"
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-vue-app
    container_name: laravel-vue-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    ports:
      - "8000:8000"
      - "5173:5173"
    networks:
      - app-network
    command: php artisan serve --host 0.0.0.0 --port 8000

networks:
  app-network:
    driver: bridge
